
.sec-title h3 {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}
.sec-title h3:after {
    position: absolute;
    content: "";
    left: 50%;
    width: 47%;
    height: 3px;
    background-color: #005a97;
    bottom: -10px;
    transform: translateX(-50%);
}
.healthservices .card img {
    height: 250px;
    width: 100%;
}
.healthservices .col {
    margin-bottom: 30px;
}
.single-service {
    position: relative;
}
.single-service div {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.healthservices .card a {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 0;
    color: #313131;
}
.single-service .card:hover div h3 {
    opacity: 0;
}
.single-service div p {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
    overflow: hidden;
    margin: 0;
}
.healthservices .card:hover a {
    background-color: #005a97;
    color: #fff;
}
.healthservices .card:hover p {
    opacity: 1;
} 
.healthservices .card:hover div {
    height: 100%;
}