.login-register,
.contact form {
    max-width: 400px;
    margin: 70px auto;
    border: 1px solid #ddd;
}
.login-register form input,
.contact form input,
.contact form textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
.login-register form input:focus-within,
.contact form input:focus-within,
.contact form textarea:focus-within  {
    border-color: #0b75bd;
}
.login-register form button,
.direct-login div button,
.contact form input[type="submit"] {
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #0b75bd;
    color: #fff;
}
.login-register button:hover,
.direct-login div button:hover {
    background-color: #004d81;
}
.direct-login div button {
    width: auto;
    margin: 5px;
}
.login-register h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    display: block;
    padding: 30px 15px;
}
.direct-login div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.check {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.check input[type="checkbox"] {
    width: auto;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    margin-bottom: 0;
}
.direct-login div button svg {
    margin-left: 15px;
    position: relative;
    top: -2px;
}
.direct-login p {
    text-align: center;
}