.ctg-navbar.navbar {
    background-color: #005a97;
}
.ctg-nav a,
.ctg-nav  button {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #004d81;
    border-radius: 5px;
}

.ctg-nav a:hover,
.ctg-nav a.active {
    background-color: #0b75bd;
}
.ctg-nav  button {
    border: none;
    background-color: #FC9924;
}
.ctg-navbar.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}
span.displayname {
    color: #fff;
    margin: 0 10px;
    line-height: 37px;
}
span.displayname span {
    color: #FC9924;
    font-weight: 500;
}
@media screen and (max-width: 360px) {
    .ctg-navbar img {
        max-width: 140px;
    }
}
